<style>
    .message-content { 
        font-family: Arial, Helvetica, sans-serif; 
        max-width: 600px;
        font-size: 18px; 
        line-height: 21px;
    }

    p span {
        font-weight: bolder;
    }

    .product {
        border: 1px solid black;
        padding: 0 20px;
        border-radius: 5px;
        margin: 5px 0;
    }
</style>

<div class="message-content">
  <p>Olá {{name}}.</p>
  <p>Aqui estão os dados de sua compra.</p>
  <div class="products">
  <p><span>Produtos comprados:</span></p>
  {{#each products}}
    <div class="product">
        <p><span>Nome: </span>{{this.product.name}}</p>
        <p><span>Descrição: </span>{{this.product.description}}</p>
        <p><span>Preço: </span> {{this.price}}</p>
    </div>
  {{/each}}
  </div>
  <p><span>Subtotal: </span>{{subtotal}}</p>
</div>